body {
  padding: 0;
  margin: 0;
  font-family: verdana, arial;
  background: #000;
  color: #ebebeb;
}

a {
  color: #ff0;
}

.content {
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: flex;
}
.header .banner {
  flex: 0 1 auto;
  width: 100%;
}

.body {
  padding: 0 1rem;
}

.layout-links {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #ff0;
  padding-bottom: 1rem;
}

.layout-links h4 {
  width: 100%;
  margin: 0.4rem;
  text-align: center;
}

.layout-links a {
  flex: 0 0 50%;
  text-align: center;
}

.purchase-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.purchase-items .item {
  padding: 0.5rem;
  flex: 1 1 max-content;
  color: #ebebeb;
  text-decoration: none;

  display: flex;
}

.purchase-items .item .btn {
  flex: 0 0 fit-content;
  color: #000;
  background-color: #ff0;
  padding: 3rem 10px;
  font-weight: bold;
  border-radius: 0.5rem 0 0 0.5rem;
}

.purchase-items .item .item-detail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  padding: 1rem 0.5rem;
  border-bottom: solid 1px #ff0;
  border-right: solid 1px #ff0;
  border-top: solid 1px #ff0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.purchase-items .item .item-detail .name {
  flex: 0 0 50%;
  color: #ff0;
  font-size: 1.2rem;
  font-weight: bold;
}

.purchase-items .item .item-detail .price {
  flex: 0 0 50%;
  color: #ff0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  text-align: right;
}

.purchase-items .item .item-detail .description {
  flex: 0 0 100%;
  display: block;
  font-size: 1.2rem;
}

.item.sold .btn {
  display: table-cell;
  color: #ccc;
  vertical-align: middle;
}

.item .sold-overlay {
  display: none;
}

.item.sold .sold-overlay {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: rotate(330deg);
  font-size: 48px;
  color: #ff0;
}

.seating-charts {
  width: 100%;
  flex-wrap: wrap;
}

.seating-charts .chart {
  width: 100%;
}

.seating-charts .chart .title {
  margin-bottom: 0.5rem;
  color: #ff0;
}

.seating-charts .chart .map {
  position: relative;
}

.seating-charts .chart .map img {
  width: 100%;
}

.seating-charts .map .overlay {
  position: absolute;
  left: 0;
  top: 0;
}

.order-form {
  display: none;
  background-color: #555;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.order-form .content {
  font-size: 1.5rem;
  background-color: #ff0;
  border-radius: 1rem;
  border: solid 2px #000;
  box-shadow: 0.25rem 0.12rem 0.12rem #000;
  color: #000;

  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

.order-form .product {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.order-form .product .name {
  margin: 0;
  flex: 1 0 50%;
}

.order-form .product .price {
  margin: 0;
  flex: 1 0 50%;
  text-align: right;
}

.order-form .product .descripion {
  flex: 1 0 100%;
  margin: 0;
}

.order-form .title {
  margin: 0;
  padding: 1rem;
  background-color: #000;
  color: #ebebeb;
}

.order-form .divider {
  color: #000;
  margin: 0;
  border: solid 1px #555;
}

.order-form form {
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
}

.order-form form .form-item {
  flex: 1 1 100%;
  margin: 0.5rem 0;
}

.order-form form .btn {
  flex: 0 0 auto;
}

.order-form form .btn-submit {
  margin-left: auto;
}

.order-form.active {
  display: block;
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layout-grid .cell {
  border: solid 1px #000;
}

@media only screen and (min-width: 1024px) {
  .content {
    max-width: 1024px;
  }

  .purchase-items .item {
    flex: 1 1 32%;
  }

}
@media only screen and (max-width: 428px) {
  .content {
    max-width: 428px;
  }

  .purchase-items .item {
    flex: 1 1 100%;
  }

}
