@media screen and (min-width: 1024px) {
  .content {
    max-width: 1024px;
  }
  .header {
    height: 535px;
  }
}
@media screen and (max-width: 428px) {
  .content {
    max-width: 428px;
  }
  .header {
    height: 224px;
  }
}
body {
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 auto;
  overflow-x: hidden;
}

.header {
  background-image: url("banner.jpg");
  background-size: contain;
  width: 100%;
  background-color: #ccc
}
